<!-- sidebar  -->
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">

    <img class="logo mt-4 " src="../assets/img/logobranco.png" />

    <div class="icon-nav ">
      <ul class="mt-5">
        <li>
          <i class='bx bx-group'></i>
          <span routerLink="/cardsTurmas">Turmas</span>
        </li>
        <li>
          <i class='bx bxs-camera-movie'></i>
          <span routerLink="/cursos">Cursos</span>
        </li>
      </ul>
    </div>
    <div class="out-container">
      <i (click)="logout()" class='bx bx-log-out' role="button"></i>
    </div>
  </mat-sidenav>
  <!-- menu mobile -->
  <header>
    <nav>
      <i mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()" role="button">
        <mat-icon *ngIf="!sidenav.opened">
          menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
          close
        </mat-icon>
      </i>
    </nav>
  </header>

  <!--***conteúdo****-->
  <!--Cabeçalho da página com nome da turma e nome do curso-->
  <div class="container mt-4">
    <div class="box-title alinhamento">
      <h3 class="titulo">Turma {{nomeTurma}}</h3><br>
      <h3 class="titulo">Curso {{nomeCurso}}</h3>
      <div class="box-btn mt-2">
        <!--Botão para abrir o modal módulo-->
        <button (click)="open(modalModulo); resetModal()">
          <i class="bx bx-plus"></i>Adicionar Módulo
        </button>
      </div>
    </div>
    <!--Seção da página que vai listar os módulos dos cursos na turma-->
    <div class="alinhamento">
        <h4 class="subtitulo my-4">Módulos</h4>
    </div>
    <section style="overflow: auto;" class="mb-5 container tamanhoContainer">
      <!--Mat-accordion de cursos na turma-->
      <mat-accordion *ngFor="let modulo of vetorModulos; index as i" class="example-headers-align" multi>
        <mat-expansion-panel hideToggle class="my-3">
          <mat-expansion-panel-header>
            <!--Título com nome e descrição do módulo-->
            <mat-panel-title>
              {{ modulo.nome }}
            </mat-panel-title>
            <mat-panel-description>
              {{ modulo.descricao }}
            </mat-panel-description>
            <i class="bx bx-dots-horizontal-rounded font-icone botaoModulo" [matMenuTriggerFor]="menu"></i>
            <!--Mat-menu- menu lateral do módulo -->
            <mat-menu #menu="matMenu">
              <!--Botão para abrir o Modal para editar módulo-->
              <button mat-menu-item (click)="open(modalModulo); preencheEditarModulo(modulo)" title="Editar módulo">
                <mat-icon>build</mat-icon>
                <span>Editar Módulo</span>
              </button>
               <!--Botão para abrir o Modal de confirmação para excluir módulo-->
              <button mat-menu-item (click)="open(modalExcluirModulo)" title="Excluir módulo">
                <mat-icon>delete</mat-icon>
                <span>Excluir Módulo</span>
              </button>
            </mat-menu>

            <!-- Modal de confirmação para excluir módulo -->
            <ng-template #modalExcluirModulo let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="excluir">Aviso</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Deseja realmente excluir o Módulo {{modulo.nome}}?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn-s" (click)="modal.close('Save click')">Cancelar</button>
                <button type="button" class="btn-e"
                  (click)="excluirModulo(modulo); modal.close('Save click')">Excluir</button>
              </div>
            </ng-template>
            <!-- fim do modal de exclusão do módulo -->
          </mat-expansion-panel-header>


          <!-- TABELA QUE LISTA OS MÓDULOS -->
          <table class="table table-responsive-md">
            <thead>
              <tr>
                <th>Indice</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Data de atualização</th>
                <th></th>
                <th>
                  <button type="button" class="btn-a" title="Adicionar aula"
                    (click)="open(modalAula); resetModal2(modulo)">
                    <i class="fas fa-plus"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aula of modulo.aulas">
                <td>{{ aula.index }}</td>
                <td>{{ aula.nome }}</td>
                <td>{{ aula.tipo }}</td>
                <td>{{ aula.dataModificacao.toDate() | date: "dd/MM/yyyy" }}</td>
                <td>
                  <!--Ícone com representação de um olho para abrir o Modal de visualizarAula-->
                  <i class="far fa-eye foldericon" title="Visualizar aula" (click)="openLg(visualizarAula)"></i>
                  <!--Ícone com representação de um lápis para abrir o Modal para editar Aula-->
                  <i class="fas fa-edit text-info ml-4" title="Editar aula"
                    (click)="open(modalAula); preencherModalAula(aula, modulo)"></i>
                  <!--Ícone com representação de uma lixeira para abrir o Modal para excluir Aula-->
                  <i class="fas fa-trash-alt ml-4" title="Excluir aula" (click)='open(modalExcluirAula)'></i>

                  <!-- MODAL DE CONFIRMAÇÃO PARA EXCLUIR AULA-->
                  <ng-template #modalExcluirAula let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="excluir">Aviso</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Deseja realmente excluir a {{aula.nome}}?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn-s" (click)="modal.close('Save click')">Cancelar</button>
                      <button type="button" class="btn-e"
                        (click)="excluirAula(modulo.aulas, aula, modulo);modal.close('Save click')">Excluir</button>
                    </div>
                  </ng-template>
                  <!-- fim do modal de exclusão da aula -->

                  <!-- MODAL DE VISUALIZAÇÃO DO CONTEÚDO DA AULA-->
                  <ng-template #visualizarAula let-modal class="modal-vis">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Conteúdo</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                      <!-- if para renderização pelo tipo de arquivo -->
                      <div *ngIf="aula.tipo != '.mp4'; then  pdf  else mp4 ">
                      </div>
                      <ng-template #mp4>
                        <video class="video my-5" src={{aula.link}} frameborder="0" controls width="400px"></video>
                      </ng-template>
                      <ng-template #pdf>
                        <ngx-doc-viewer url="{{aula.link}}" viewer="google"></ngx-doc-viewer>
                      </ng-template>
                      <!-- fim do if -->

                    </div>
                  </ng-template>
                  <!-- FIM DO MODAL DE VISUALIZAÇÃO DO CONTEÚDO -->
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </section>

    <!--CHAMANDO COMPONENTE TESTE, seção de testes dentro do curso na turma-->
    <div class="mt-5">
      <app-teste></app-teste>
    </div>

    <!--MODAL ADICIONAR E EDITAR MÓDULO-->
    <ng-template #modalModulo let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ botao }} Módulo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <mat-form-field class="input-group mb-2">
            <mat-label>Nome do Módulo:</mat-label>
            <input matInput type="text" placeholder="Digite o nome do módulo" formControlName="nome"  aria-required="true"/>
          </mat-form-field>
          <mat-form-field class="input-group">
            <mat-label>Descrição do módulo</mat-label>
            <input matInput type="text" placeholder="Digite a descrição do módulo" formControlName="descricao"  aria-required="true"/>
          </mat-form-field>
          <div *ngIf="!verificacaoKey">
            <label for="seletor" class="mr-2">Inserir na posição:</label>
            <select [(ngModel)]="selectPosicaoModulo" name="seletor" formControlName="posicao" class="mb-5">
              <option [ngValue]="-1">Início</option>
              <!-- O ngValue é o responsável por manter a ordenação das aulas -->
              <option *ngFor="let item of vetorModulos" [ngValue]="item.index">
                Após #{{ item.index }} - Módulo {{ item.nome }}
              </option>
              <option [value]="-2">Final</option>
            </select>
          </div>
          <div class="text-center mb-3">
            <button type="reset" class="btn-e mx-3">Limpar</button>
            <button type="button" class="btn-s" (click)="salvarModulo(); modal.dismiss('Cross click')" [disabled]="!form.valid">
              {{ botao }}
            </button>
          </div>
        </form>
      </div>
    </ng-template>

    <!--MODAL DE CADASTRO E EDIÇÃO DE CONTEÚDO DAS AULAS-->
    <ng-template #modalAula let-modal>
      <div class="modal-header">
        <!--{{botao}} Para mudar de forma dinâmica se vai editar ou cadastrar aulas-->
        <h4 class="modal-title" id="modal-basic-title">{{ botao }} Aula </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAula">
          <mat-form-field class="input-group mb-2">
            <mat-label>Nome da Aula</mat-label>
            <input matInput type="text" formControlName="nome"  aria-required="true"/>
          </mat-form-field>
          <!--Select para selecionar o tipo do documento, se pdf ou mp4-->
          <select name="seletor" [ngModel]='selectTipoDoc' formControlName="tipoDocumento"
            (change)='changeDocumento($event)' aria-required="true">
            <option [value]="''">Selecione o tipo do documento</option>
            <option [value]="'.pdf'">.pdf</option>
            <option [value]="'.mp4'">.mp4</option>
          </select>
          <!--Imagem Default caso o usuário não selecione uma imagem própria-->
          <div *ngIf="linkDocumento == '' && nomeAula != '' ">
            <img src="{{imgDefault}}" alt="">
          </div>
          <!--If da edição de aulas se for mp4, mostra a tag video-->
          <div *ngIf="linkDocumento != '' && tipoDocumento == '.mp4'">
            <div class="video">
              <video class="mx-auto" width="320" height="240" controls>
                <source src="{{ linkDocumento }}" type="video/mp4" />
              </video>
            </div>
          </div>
          <!--If da edição de aulas se for pdf, mostra a tag ngx-doc-viewer -->
          <div *ngIf="linkDocumento != '' && tipoDocumento == '.pdf'" class="mt-3 arquivoPdf">
            <ngx-doc-viewer [url]="linkDocumento" viewer="google" style="width: 320px; height: 240px;" class="mx-auto"></ngx-doc-viewer>
          </div>
          <!--if barra de progresso, enquanto a imagem carrega ele fica ativo-->
          <div *ngIf="progresso" class="input-group-text">
            <mat-progress-bar mode="indeterminate" role="status"></mat-progress-bar>
          </div>
          <input type="file" class="my-2" id="documento" accept="{{tipoDocumento}}" formControlName="linkDocumento"
            (change)='carregarDocumento($event)' />
          <!-- controla a exibição do select de posição de inserção da aula-->
          <div *ngIf="nomeAula == '' ">
            <label for="seletor1" class="mr-2">Inserir na posição:</label>
            <select [(ngModel)]="selectPosicaoAula" name="seletor1" formControlName="posicao" class="mb-5">
              <option [value]="-1">Início</option>
              <!-- O ngValue é o responsável por manter a ordenação das aulas -->
              <option *ngFor="let item of vetorAulas" [ngValue]="item.index">
                Após #{{ item.index }} - {{ item.nome }}
              </option>
              <option [value]="-2">Final</option>
            </select>
          </div>
          <!-- ******** -->
          <div class="text-center mb-3">
            <button type="reset" class="btn-e mx-3">Limpar</button>
            <!--Botão para adicionar ou editar-->
            <button class="btn-s" (click)="modal.dismiss('Cross click'); verificaSalvamento()"
              [disabled]="!formAula.valid">
              {{ botao }}
            </button>
          </div>
        </form>
      </div>
    </ng-template>

  </div>

  <!-- ****/conteúdo**** -->
</mat-sidenav-container>
<!-- ****/sidebar**** -->
